.posters {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.posters:hover {
  transform: scale(1.2);
}
.favouritetab {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  width: 100%;
  padding: 20px;
  position: absolute;
  color: white;
  bottom: 0;
  text-align: center;
  transition: 0.1s ease-in-out;
}
.favouritetab:hover {
  opacity: 1;
  position: absolute;
}
