.posters {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.posters:hover {
    transform: scale(1.2);
}

.favouritetab {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    width: 100%;
    padding: 20px;
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.favouritetab:hover {
    opacity: 1;
    position: absolute;
}

.movie-info {
    border: solid white 2px;
    width: auto;
    flex-grow: 1;
    color: white;
    padding: 2rem;
}

.movie-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.movie-tagline {
    font-size: 1rem;
    margin: 0;
}

.movie-details-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-runtime span {
    font-weight: bold;
    margin: 0 1rem;
}

.movie-genres {
    margin: 0 1rem;
    border: solid 1px white;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.movie-genres a {
    color: inherit;
    text-decoration: none;
}

.movie-genres:hover {
    color: blue;
    border-color: blue;
}