.posters {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.posters:hover {
  transform: scale(1.2);
}
.favouritetab {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  width: 100%;
  padding: 20px;
  position: absolute;
  color: white;
  bottom: 0;
  text-align: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.favouritetab:hover {
  opacity: 1;
  position: absolute;
}
.pagination{
  display: flex;
  max-width: 100px;
  margin:40px auto;
  margin-bottom: 0;
  align-items: center;
}
.page-number{
  color: white;
  margin: 0 10px;
  border: 2px solid white;
  padding: 5px 12px;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}
.page-number:hover{
  color: black;
  background: white;
  cursor: pointer;
  font-weight: bold;
  transform: rotate(360deg);
}
